# Week5 Python Programming

In week5, we've covered:
* **DataFrames**

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](www.google.com) and [Python DataFrame Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) are your good friends if you have any python questions.

Upload **Week5_PythonProgramming_Homework.ipynb** notebook to your Google Drive and open it with Google Colab.

## 1. Load and explore your data

Import the necessary libraries.

In [0]:
# TODO
import pandas as pd
import numpy as np

Import the data set by using `url` and assign it to a variable called `wine`. Hint: need to set the `sep=';'`

Check [Wine quality data description.](https://archive.ics.uci.edu/ml/datasets/Wine+Quality)

In [0]:

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
wine = pd.read_csv(url, sep = ';')

Show the first 10 entries of `wine`.

In [0]:
print(len(wine))
wine.head(10)

1599

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

Show the last 10 entries of `wine`.

In [0]:
wine.tail(10)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1589            6.6             0.725         0.20  ...       0.54      9.2        5
1590            6.3             0.550         0.15  ...       0.82     11.6        6
1591            5.4             0.740         0.09  ...       0.56     11.6        6
1592            6.3             0.510         0.13  ...       0.75     11.0        6
1593            6.8             0.620         0.08  ...       0.82      9.5        6
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[10 rows x 12 columns]

What is the number of observations in the dataset?

In [0]:
print('There are', len(wine), 'observations.') #number of rows in wine set

There are 1599 observations.

What is the number of columns in the dataset?

In [0]:
print('There are', len(wine.columns), 'columns.')

There are 12 columns.

What is the data type of each column?

In [0]:
wine.info()
wine.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

Summarize statistics of all columns.

In [0]:
wine.describe().transpose()

                       count       mean  ...        75%        max
fixed acidity         1599.0   8.319637  ...   9.200000   15.90000
volatile acidity      1599.0   0.527821  ...   0.640000    1.58000
citric acid           1599.0   0.270976  ...   0.420000    1.00000
residual sugar        1599.0   2.538806  ...   2.600000   15.50000
chlorides             1599.0   0.087467  ...   0.090000    0.61100
free sulfur dioxide   1599.0  15.874922  ...  21.000000   72.00000
total sulfur dioxide  1599.0  46.467792  ...  62.000000  289.00000
density               1599.0   0.996747  ...   0.997835    1.00369
pH                    1599.0   3.311113  ...   3.400000    4.01000
sulphates             1599.0   0.658149  ...   0.730000    2.00000
alcohol               1599.0  10.422983  ...  11.100000   14.90000
quality               1599.0   5.636023  ...   6.000000    8.00000

[12 rows x 8 columns]

Access the `quality` column.

In [0]:
#wine['quality'] #or use
wine.loc[:,"quality"].head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

How many unique `quality` values are there?

In [0]:

print('There are', wine['quality'].nunique(), 'quality values.')
print('The unique quality values are:', wine.quality.unique())

There are 6 quality values.
The unique quality values are: [5 6 7 4 8 3]

Which `quality` value has the most samples? Hint: `value_counts()`

In [0]:
# TODO
qualityCounts = wine.quality.value_counts()
print(qualityCounts)
print('Quality value', qualityCounts.index[0], 'has max samples of', qualityCounts.values[0])

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64
Quality value 5 has max samples of 681

## 2. Rename and filter your data

Replace the space in the column name with `_` and show the first 10 entries. For example,  `fixed acidity` would become `fixed_acidity`.

In [0]:
wine.columns = wine.columns.str.replace(' ', '_')
wine.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

Print a data frame with only two columns `residual_sugar` and `quality`.

In [0]:
newWine = wine[['residual_sugar', 'quality']]
len(newWine)

1599

Select only the observations with `residual_sugar` > 2 and `quality` < 8.

In [0]:

filterWine = newWine[(newWine['residual_sugar'] > 2) & (newWine['quality'] < 8) ]
len(filterWine)

970

Create a new column `residual_sugar_norm` so that:
     
\begin{equation*}
residual\_sugar\_norm_i =  \frac{residual\_sugar_i - min(residual\_sugar)}{max(residual\_sugar) - min(residual\_sugar)}   \textrm{, where i = 0, 1, 2, ..., observation index}
\end{equation*}

In [0]:
wine['residual_sugar_norm'] = ((wine.residual_sugar - min(wine.residual_sugar))/(max(wine.residual_sugar) - min(wine.residual_sugar)))

Drop the new column `residual_sugar_norm` inplace.

In [0]:
wine.drop(columns=['residual_sugar_norm'], inplace=True)
wine.head(2)

   fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0            7.4              0.70          0.0  ...       0.56      9.4        5
1            7.8              0.88          0.0  ...       0.68      9.8        5

[2 rows x 12 columns]

Create a new column `quality_level` so that the top half quality wines have value as `'high'` and the bottom half quality wine have value as `'low'`.

In [0]:
wine['quality_level'] = ['high' if x >= wine.quality.median() else 'low' for x in wine.quality]
print(wine.quality_level.value_counts())
wine.head()

high    855
low     744
Name: quality_level, dtype: int64

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  quality_level
0            7.4              0.70         0.00  ...      9.4        5            low
1            7.8              0.88         0.00  ...      9.8        5            low
2            7.8              0.76         0.04  ...      9.8        5            low
3           11.2              0.28         0.56  ...      9.8        6           high
4            7.4              0.70         0.00  ...      9.4        5            low

[5 rows x 13 columns]

## 3. GroupBy

Which `quality_level` are with higher `fixed_acidity` on average? Hint: use `groupby`

In [0]:
FA = wine.groupby(['quality_level']).mean()

print('High Quality_Level has the higher fixed acidity of', FA.fixed_acidity.max())
N = FA[(FA['fixed_acidity'] == FA.fixed_acidity.max())]
N.head()

High Quality_Level has the higher fixed acidity of 8.474035087719294

               fixed_acidity  volatile_acidity  ...    alcohol   quality
quality_level                                   ...
high                8.474035          0.474146  ...  10.855029  6.274854

[1 rows x 12 columns]

Can you alo check for other features as what you did for `fixed_acidity`? Can you tell which one is more likely to reflect the `quality_level` of wine?

In [0]:
# TODO
# TODO
# TODO
# TODO
# TODO
# TODO
# TODO

## 4. Handling missing data

Create a dataframe with `raw_data` and assign it to a variable called `df`.

In [0]:
import numpy as np

raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}

df = pd.DataFrame(raw_data)
df

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

Drop observations with missing values and assign it to a variable called `df_clean`.

In [0]:
df_clean = df.dropna()
df_clean

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

Create a new column named `salary` with missing values for `df`.

In [0]:
df['salary'] = np.nan
df

  first_name last_name   age  sex  preTestScore  postTestScore  salary
0      Jason    Miller  42.0    m           4.0           25.0     NaN
1        NaN       NaN   NaN  NaN           NaN            NaN     NaN
2       Tina       Ali  36.0    f           NaN            NaN     NaN
3       Jake    Milner  24.0    m           2.0           62.0     NaN
4        Amy     Cooze  73.0    f           3.0           70.0     NaN

Drop the column from `df` if it only contains missing vlaues.

In [0]:
df.dropna(how = 'all', axis=1, inplace = True)
df

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

Fill all missing values in `df` with zeros.

In [0]:
df.fillna(0)

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
1          0         0   0.0   0           0.0            0.0
2       Tina       Ali  36.0   f           0.0            0.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

## Submission

Download completed **Week5_PythonProgramming_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.