# Week3 Python Programming

In week3, we've covered:
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while

The best way to consolidate the knowledge in your mind is by practing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](www.google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

Upload **Week3_PythonProgramming_Homework.ipynb** notebook to your Google Drive and open it with Google Colab

# List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [163]:
# TODO
# Let's create an empty list
my_list = []

# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'
print(my_list)

['Python', 'is neat']

In [0]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifiying the original one

In [0]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [0]:
modified = original.copy()
modified[3] = 'lists'
modified.append('Python')

In [0]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

### 3. Create a merged sorted list

In [0]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [0]:
my_list = list1 + list2 + list3
my_list.sort(reverse=True)

In [170]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [0]:
loop_list1 = [1101, 704.971, 'Fort Mill']
lst = []
for x in loop_list1:
  if isinstance(x, int):
    x = float(x)
    lst.append(x)
  elif isinstance(x, float):
    x = int(x)
    lst.append(x)
  else: lst.append(x)
loop_list1 = lst
# use for loop

In [172]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

In [173]:
loop_list2 = [1101, 704.971, 'Fort Mill']
print(loop_list2)
lst = []
x = 0
while x < len(loop_list2):
  y = loop_list2[x]
  if isinstance(y, int):
    y = float(y)
    lst.append(y)
  elif isinstance(y, float):
    y = int(loop_list2[x])
    lst.append(y)
  else: lst.append(y)
  x+=1

loop_list2 = lst
  
print(loop_list2)

[1101, 704.971, 'Fort Mill']
[1101.0, 704, 'Fort Mill']

In [174]:
print(loop_list2)
assert loop_list2 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

# Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [175]:
# TODO
# create a tuple with items of different data types
my_tuple = ("Robyn", 25, True)
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
x,y,z = my_tuple

# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

('Robyn', 25, True) <class 'tuple'>
['Robyn', 25, True] <class 'list'>
('Robyn', 25, True) <class 'tuple'>

### 2. Check the immutable property of tuple

In [176]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))

# TODO
# Do the same exercises as above for a list and see the difference
# Remember list is muttable
# List ex
rv_list = ["Red", "Ventures"]
print(rv_list, type(rv_list))
# check id
print(id(rv_list))
# modify the variable
rv_list = rv_list + ['29707', ]
print(rv_list, type(rv_list))
# check id
print(id(rv_list))

(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>
140029557217384
(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>
140029567394832
['Red', 'Ventures'] <class 'list'>
140029557617160
['Red', 'Ventures', '29707'] <class 'list'>
140029557231432

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [0]:
# TODO
def check_case(string):
  lowercase_number = 0
  uppercase_number = 0
  for letter in string:
    if letter.isupper():
      uppercase_number += 1
    elif letter.islower():
      lowercase_number += 1
  return uppercase_number, lowercase_number

In [0]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [179]:
# TODO
# create an empty dictionary
my_dict = {}
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = {"FirstName": "Robyn","LastName": "Dyer"}
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict["Year"] = "1994"
print(my_dict)

# remove the key you added from my_dict
my_dict.pop("Year")
print(my_dict)

{} <class 'dict'>
{'FirstName': 'Robyn', 'LastName': 'Dyer'} <class 'dict'>
{'FirstName': 'Robyn', 'LastName': 'Dyer', 'Year': '1994'}
{'FirstName': 'Robyn', 'LastName': 'Dyer'}

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [180]:
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
for i in sorted (location_dict) : 
    print ((i, location_dict[i]), end =" ")

('Austin', 'TX') ('Charlotte', 'NC') ('Los Angeles', 'CA') ('New York', 'NY')

Sort the location_dict by the desending order of keys and assign it to a new variable location_dict_new

In [181]:
# TODO
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
for i in sorted (location_dict, reverse=True) : 
  location_dict_new = {i: location_dict[i]}
  print(location_dict_new, end =" ")

{'New York': 'NY'} {'Los Angeles': 'CA'} {'Charlotte': 'NC'} {'Austin': 'TX'}

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [182]:
# TODO
# create an set
my_set = {''}
print(my_set, type(my_set), '\n')

# create a set with values
my_set = {"Robyn", "Leigh", "Dyer"}
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.add("Name")
print(my_set, '\n')


# remove the value you added from my_set
my_set.remove("Name")
print(my_set, '\n')

{''} <class 'set'>

{'Leigh', 'Dyer', 'Robyn'} <class 'set'>

{'Leigh', 'Name', 'Dyer', 'Robyn'}

{'Leigh', 'Dyer', 'Robyn'}

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectivley, and get a union set between those two.

In [183]:
# TODO
duplist = [1, 2, 3, 3, 4, 5]
atuple = (1, 2, 3, 4, 6)
set1 = set(duplist)
set2 = set(atuple)
unionset = set().union(set1, set2)
print(unionset, type(unionset))

{1, 2, 3, 4, 5, 6} <class 'set'>

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [184]:
# TODO
my_set1 = {'a', 'b', 'c'}
my_set2 = {'b', 'c', 'd', 'e'}
# return items in set1 that are not in set2
setoneonly = my_set1 - my_set2
print(setoneonly)

{'a'}

## Submission

Download completed **Week3_PythonProgramming_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.